	html, body{
	height:100%;
	}

	section{
	width:100%;
	height:100%;
	}

	#header{
	background-color: #ff9000;
	}
	
	#first{
	background-color: aliceblue;
	}
	
	#second{
	background-color: antiquewhite;
	}
	
	#third{
	background-color: aqua;
	}
	
	#forth{
	background-color: aquamarine;
	}
	
/*button style*/
#backtotop{
	position:fixed;
	display: none;
    right:20px;
    bottom:20px;
	padding: 20px;
	border: none;
	z-index: 1;
	background-color: #3a52b7;
	color:#fff;
	-webkit-transition: background-color color 2s;
	-moz-transition: background-color color 2s;
	-o-transition: background-color color 2s;
	transition: background-color color 2s;
}

#backtotop:hover{
	background-color: #fff;
	color: #3a52b7;
	cursor: pointer;
}